<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.cadenaConection_DB_BasePruebas"
            connectionString="Data Source=LAPTOP-T7KQ9T54\SQLEXPRESS;Initial Catalog=DB_BasePruebas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration> 